.purple-color{
    color: #8845f4;
}
body{
font-family: sans-serif;
color: #777777;
line-height: 26px;
}
.right-side{
float: right;
}
.half-width{
    width: 50%;
    float: left;
}
.side-img{
width:50%;
padding-left:25%;
padding-top: 20%;
}

.primary-btn{
    color: white;
    background-color: #8845f4;
    padding: 13px 42px;
    border-radius: 20px;
    text-decoration: none;
}
h1{
    font-size: 1.5em;
}
.container {
padding-left: 5%;
display: inline-block;
}
.experiences{
    padding: 30px;
    margin: 30px;
    background-color: rgb(238, 251, 255);
    border-radius: 20px;
}
.experience-item{
padding: 10px;
border: 1px solid rgba(137,130,247,.2);
}

